{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="ep">
    <div
      class="context"
      style="
        background-image: url('{% static 'images/phone.png' %}');
        background-repeat: no-repeat;
      "
    >
      <h3>scenario 1</h3>
      <a class="speak" onclick="gogo(); start()"
        ><img src="{% static 'images/speak.png' %}"
      /></a>
      <h1 class="typing-txt">{{ keywords }}</h1>
      <p class="typing"></p>
    </div>
  </div>
</div>
<!-- <p class="typing"></p> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  var corona = new Audio("../../../media/timeline_audio/earthquake1.mp3");
  // var response = new Audio("../../../media/timeline_audio/hello_world.wav");
  // var txt = $(".typing-txt").text();
  // const delay_time = txt.length * 200;
  // function gogo_tts() {
  //   response.currentTime = 0;
  //   response.play();
  // }
  // var myTime = setTimeout(gogo_tts, delay_time);
  function gogo() {
    // 소리 재생 함수
    corona.currentTime = 0;
    corona.play();
  }

  function start() {
    // 타이핑 함수
    var typingBool = false;
    var typingIdx = 0;
    var typingTxt = $(".typing-txt").text(); // 타이핑될 텍스트를 가져온다
    typingTxt = typingTxt.split(""); // 한글자씩 자른다.

    if (typingBool == false) {
      // 타이핑이 진행되지 않았다면
      typingBool = true;
      var tyInt = setInterval(typing, 70); // 반복동작
    }

    function typing() {
      if (typingIdx < typingTxt.length) {
        // 타이핑될 텍스트 길이만큼 반복
        $(".typing").append(typingTxt[typingIdx]); // 한글자씩 이어준다.
        typingIdx++;
      } else {
        clearInterval(tyInt); //끝나면 반복종료

        var response = new Audio("../../../media/timeline_audio/answer.wav");
        response.currentTime = 0;
        response.play();
      }
    }
  }
</script>
{% endblock %}
